#landing {
    padding-left: 2vw;
    padding-top: 5vh;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 84.5vw;
    position: relative;
}

#landing-blurb {
    filter: blur(100px);
    position: absolute;
    width: 50vw;
    top: -25vw;
    right: 0;
    animation: rotation 10s infinite;
    z-index: -1;
}



#landing-top-text {
    margin: 0;
    white-space: nowrap;
    overflow-x: hidden;
    animation: open 4s;
    padding-left: 1.25vw;
}
#landing-bottom { 
    margin-top: -30vh;
}
#landing-links {
    text-align: right;
    padding-top: 9vh;
    position: relative;
    z-index: 1;
    padding-right: 5.25vw;
}

#landing-intro {
    width: 27em;
    margin: 0;
    padding-left: 1.25vw;
    overflow-x: hidden;
}
#landing-name {
    margin: 0;
    margin-top: -.2em;
    letter-spacing: -0.08em; margin-left: 0vw;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    animation: open 4s;
}
@keyframes open {
    from { width: 0; opacity: 100;}
}





