#landing-title {
    animation: open 3s;
    margin: 0;
    width: 100%;
}

#messages-blob {
    top: -45vh;
    left: 10vw;
    z-index: -1;
}

#ca {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
}

#ca-img {
    height: 100vh;
}


#ca-left {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    margin-right: 2.5vw;
}
#ca-text {
    margin-top: 5vh;
}


#research-personas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#persona1, #persona2 {
    width: 40vw;
}

#mobileview {
    flex-direction: column;
    justify-content: start;
    margin-top: 5vh;
}
#mobileview-top {
    display: flex;
    margin-top: 5vh;
    justify-content: space-between;
}

#mobileview1 {
    display: flex;
}
#w-v2 {
    margin-left: 2.5vw;
}


#hifi-tabmessage {
    margin-top: 0;
}
#hifi-message {
    margin-top: 5vh;
}
#mobiletwo {
    display: flex;
    justify-content: space-between;
}
#each-mobile {
    margin-right: 2.5vw;
    margin-top: 0;
}
#mv-section {
    margin-right: 2.5vw;
}
