@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
:root {
    --dark: #373737;
    --lighthover: #8D8D8D;
    --darkhover: #636363;
    --tabmessage: #009DFF;
    --purple: rgb(111, 0, 255);
    --goodgreen: rgb(0, 185, 93);
}

body {
    background: white;
    font-family: "Heebo";
    overflow-x: hidden;
    margin: 0;
    color: var(--dark);
    transition: 0.2s;
}

#transition {
    position: fixed;
    background: black;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    transition: 0.7s;
}

#followmouse {
    display: flex;
    color: transparent;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    transform: rotate(-200deg);
    border-radius: 0px;
    border: none;
    width: auto; height: 2vw;
    z-index: 100;
    pointer-events: none;
    transition: 0.3s;
}

.open {
    margin: 0 auto;
    overflow: hidden;
    animation-name: open;
}
.cssanimation, .cssanimation span {
    animation-duration: 3s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.title-text {
    font-size: 15vw;
    z-index: 1;
    font-family: "Heebo";
    height: 16vw;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: var(--dark); 
    padding: 0;
    margin: 0;
    width: auto;
    text-align: left;
}

.normal-text {
    font-size: 1vw;
    line-height: 1.75vw;
    font-family: "Heebo";
    color: var(--dark);
}

.header-text {
    font-size: 6vw;
    font-family: "Heebo";
    color: var(--dark);
    letter-spacing: -0.06em;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: auto;
    margin-left: -.5vw;
    line-height: 6vw;
    z-index: 2;
}
.header-right-text {
    text-align: right;
}

#menu {
    height: 95vh;
    position: fixed;
    border-left: 1px solid var(--dark);
    background: transparent;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 12.5vw;
    z-index: 10;
    transition: 0.2s;
}
#menu-bottom {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-bottom: 2.5em;
}
#menu-index, #menu-bottom {
    padding-left: 1vw;
    position: relative;
    z-index: 100;
    transition: 0.2s;
}

#menu-about, #menu-projects {
    margin-bottom: 1.25em;
    transition: 0.2s;
}

.little-link {
    background: none;
    border: none;
    font-family: "Heebo";
    color: var(--dark);
    text-align: left;
    text-decoration: none;
    transition: 0.2s;
}
.little-link:hover {
    color: var(--lighthover);
    cursor: pointer;
}

#projects {
    margin-top: 10vh;
    background: var(--dark);
    padding-left: 2vw;
    padding-top: 15vh;
    width: 100vw;
    height: 90vh;
}
#projects-top {
    display: flex;
    justify-content: start;
    align-items: start;
    padding-bottom: 5vh;
}
#projects-top-label {
    color: white;
    text-align: left;
    padding-right: 5vw;
    height: 100%;
    margin-top: 3vw;
}
#projects-numbers {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    z-index: 10;
    height: 15vw;
}
.projects-number {
    color: var(--lighthover);
    transition: 0.2s;
    margin-right: 4vw;
    z-index: 10;
}
.projects-number:hover {
    color: var(--darkhover);
    cursor: pointer;
}
.projects-number.activelist {
    color: white;
    cursor: pointer;
}

#projects-bottom {
    border-top: 1px solid white;
    width: 84.5vw;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
}
#project-name {
    color: white;
    height: 15vw;
    margin: 0;
    margin-left: -1.25vw;
    transition: 0.2s;
    text-decoration: none;
}
#project-name:hover {
    color: var(--lighthover);
    cursor: pointer;
}
#project-description {
    color: white;
    margin-top: 5vh;
}

#footer-main {
    margin: 0;
    padding: 0;
}
#footer {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#separator {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: black;
    width: 110vw;
    margin-top: 0;
}
#separator-text {
    color: white;
    display: inline-block;
    animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
#footer-main {
    width: 95vw;
    position: relative;
    margin-top: 5vh;;
}
#footer-blob {
    filter: blur(100px);
    position: absolute;
    z-index: -10;
    width: 50vw;
    top: -25vw;
    animation: rotation 10s infinite;
}
@keyframes rotation {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

#footer-top {
}
#footer-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vw;
    margin-top: -10vh;
    margin-left: -1vw;
}
#footer-row-2 {
    height: 20vw;
    margin-top: -10vh;
    margin-left: -1vw;
}
#footer-index, #footer-about, #footer-projects, #footer-resume {
    padding: 0;
    margin: 0;
    transition: 0.2s;
}
#footer-index:hover, #footer-about:hover, #footer-projects:hover, #footer-resume:hover {
    color: var(--darkhover);
    cursor: pointer;
}
#footer-about, #footer-resume {
    margin-right: 1vw;
}
#footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 20vw;
    margin-left: .25vw;
    margin-top: -20vh;
    overflow-y: hidden;
    padding-bottom: 2.5vh;
}
#landing-linkedin, #landing-email {
    padding: 0;
    margin: 0;
}
#landing-linkedin {
    margin-right: 2.5vw;
}




.projects-section {
    width: 82vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-bottom: 5vh;
    border-bottom: 1px solid black;
}
.projects-landing {
    height: 100vh;
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid black;
}

.landing-blob {
    filter: blur(150px);
    position: absolute;
    z-index: 100;
    width: 60vw;
    animation: rotation 10s infinite;
}
.projects-landing-title {
    margin: 0;
    z-index: 101;
    margin-bottom: 2vh;
}

.projects-landing-text {
    margin-left: 1vw;
}

.projects-overview-description {
    margin-top: 3vh;
}

.projects-overview-details {
    display: flex;
    margin-top: 10vh;
}
.projects-overview-detail {
    margin-right: 5vw;
}
.projects-overview-details-header {
    font-weight: 700;
    margin-bottom: -1vh;
}

.tab-message {
    color: var(--tabmessage);
    text-decoration: none;
}

.pimg {
    transition: 0.2s;
    border: 1px solid var(--dark);
}
.pimg:hover {
    filter: brightness(90%);
    cursor: pointer;
}

#divider {
    height: 100vh;
}

#mobileview {
    display: flex;
    justify-content: space-between;
}
#each-mobile {
    width: 18vw;
    margin-top: 5vh;
}

#w-img, #w-img1 {
    width: 100%;
}

#sw-tab {
    margin-top: 5vh;
}

.reflection-text {
    margin-top: 10vh;
}
.final-header {
    margin-bottom: 5vh;
}
.final {
    background: white;
    padding-bottom: 10vh;
    border-bottom: none;
}
.final-text {
    padding-right: 5vw;
    line-height: 2vw;
    margin-top: 0vh;
}

#landing-email {

}

.nomobile {
    display: none;
}
#no-mobile-text {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .no-mobile {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 0;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--dark);
        z-index: 1000;
    }
    #no-mobile-text {
        display: flex;
        color: white;
    }
    .title-text {
        font-size: 15vw;
        height: 16vw;
        letter-spacing: -0.08em;
    }

    .normal-text {
        font-size: 7vw;
        line-height: 9vw;
    }

    .header-text {
        font-size: 6vw;
        letter-spacing: -0.06em;
        margin-left: -.5vw;
        line-height: 6vw;
    }




}
